{% macro render_news_story(story, from_index=false) %}
  <div class="news-story">
  {% if from_index %}
    <h2><a href="{{ story|url }}">{{ story.title }}</a></h2>
  {% else %}
    <h2>{{ story.title }}</h2>
  {% endif %}
  <!-- <p class="meta">
    written by
    {% if story.twitter_handle %}
      <a href="https://twitter.com/{{ story.twitter_handle
        }}">{{ story.author or story.twitter_handle }}</a>
    {% else %}
      {{ story.author }}
    {% endif %}
    on {{ story.pub_date }}
  </p> -->
  {{ story.body }}
  </div>
{% endmacro %}
