html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.gitter-chat-embed{
  z-index: 5000;
}

.sidebar {
  padding: 1rem;
  background-color: #eceeef;
  border-radius: 1rem;
}
